body {
	width: 900px;
	height: 660px;
	margin: 10px auto;
	font-family: sans-serif;
	background-color: rgb(76, 71, 71);
	color: white;
}


#name-input {
	line-height: 200px;
	text-align: center;
	vertical-align: middle;
}

#waiting-message {
	text-align: center;
	height: 100px;
	line-height: 30px;
	vertical-align: middle;
	margin: 70px auto;
}

#main-container {
	margin-left: 10px;
	width: 610px;
	height: 655px;
	position: relative;
	display: inline-block;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-o-perspective: 1000px;
	perspective: 1000px;
}

#game-rec-prism {
	width: 100%;
	height: 100%;
  	position: absolute;
  	-webkit-transition: 3s;
  	-moz-transition: 3s;
  	-o-transition: 3s;
  	transition: 3s;
  	-webkit-transform-style: preserve-3d;
  	-moz-transform-style: preserve-3d;
  	-o-transform-style: preserve-3d;
  	transform-style: preserve-3d;
}

#game-rec-prism>figure {
  background-color: rgb(135, 140, 137);	
  display: block;
  position: absolute;
  border: 1px solid black;
  margin: 0px;
}


#game-rec-prism .front,
#game-rec-prism .back {
  width: 600px;
  height: 650px;
}

#game-rec-prism .right,
#game-rec-prism .left {
  width: 200px;
  height: 650px;
  left: 200px;
}

#game-rec-prism .top,
#game-rec-prism .bottom {
  width: 600px;
  height: 200px;
  top: 225px;
}

#game-rec-prism .front  { 
	-webkit-transform: 	rotateY(   0deg ) translateZ(  100px );
	-moz-transform: 	rotateY(   0deg ) translateZ(  100px );
	-o-transform: 		rotateY(   0deg ) translateZ(  100px );
	transform: 			rotateY(   0deg ) translateZ(  100px );
}
#game-rec-prism .back   { 
	-webkit-transform: 	rotateX( 180deg ) rotateZ(180deg) translateZ(  100px );
	-moz-transform: 	rotateX( 180deg ) rotateZ(180deg) translateZ(  100px );
	-o-transform: 		rotateX( 180deg ) rotateZ(180deg) translateZ(  100px ); 
	transform: 			rotateX( 180deg ) rotateZ(180deg) translateZ(  100px );
}
#game-rec-prism .right  { 
	-webkit-transform: 	rotateY(  90deg ) translateZ( 300px );
	-moz-transform: 	rotateY(  90deg ) translateZ( 300px );
	-o-transform: 		rotateY(  90deg ) translateZ( 300px );
	transform: 			rotateY(  90deg ) translateZ( 300px );
 }
#game-rec-prism .left   { 
	-webkit-transform: 	rotateY( -90deg ) translateZ( 300px );
	-moz-transform: 	rotateY( -90deg ) translateZ( 300px );
	-o-transform: 		rotateY( -90deg ) translateZ( 300px );
	transform: 			rotateY( -90deg ) translateZ( 300px );
}
#game-rec-prism .top    { 
	-webkit-transform: 	rotateX(  90deg ) translateZ( 325px );
	-moz-transform: 	rotateX(  90deg ) translateZ( 325px );
	-o-transform: 		rotateX(  90deg ) translateZ( 325px );
	transform: 			rotateX(  90deg ) translateZ( 325px );
}
#game-rec-prism .bottom { 
	-webkit-transform: 	rotateX( -90deg ) translateZ( 325px );
	-moz-transform: 	rotateX( -90deg ) translateZ( 325px );
	-o-transform: 		rotateX( -90deg ) translateZ( 325px );
	transform: 			rotateX( -90deg ) translateZ( 325px );
}

#game-rec-prism.show-front  { 
	-webkit-transform: 	translateZ(  -100px ) rotateY(    0deg );
	-moz-transform: 	translateZ(  -100px ) rotateY(    0deg );
	-o-transform: 		translateZ(  -100px ) rotateY(    0deg );
	transform: 			translateZ(  -100px ) rotateY(    0deg );
}
#game-rec-prism.show-back   { 
	-webkit-transform: 	translateZ(  -100px ) rotateX( -180deg ) rotateZ( 180deg );
	-moz-transform: 	translateZ(  -100px ) rotateX( -180deg ) rotateZ( 180deg );
	-o-transform: 		translateZ(  -100px ) rotateX( -180deg ) rotateZ( 180deg );
	transform: 			translateZ(  -100px ) rotateX( -180deg ) rotateZ( 180deg );
}
#game-rec-prism.show-right  { 
	-webkit-transform: 	translateZ( -300px ) rotateY(  -90deg );
	-moz-transform: 	translateZ( -300px ) rotateY(  -90deg );
	-o-transform: 		translateZ( -300px ) rotateY(  -90deg );
	transform: 			translateZ( -300px ) rotateY(  -90deg );
}
#game-rec-prism.show-left   { 
	-webkit-transform: 	translateZ( -300px ) rotateY(   90deg );
	-moz-transform: 	translateZ( -300px ) rotateY(   90deg );
	-o-transform: 		translateZ( -300px ) rotateY(   90deg );
	transform: 			translateZ( -300px ) rotateY(   90deg );
}
#game-rec-prism.show-top    { 
	-webkit-transform: 	translateZ( -325px ) rotateX(  -90deg );
	-moz-transform: 	translateZ( -325px ) rotateX(  -90deg );
	-o-transform: 		translateZ( -325px ) rotateX(  -90deg );
	transform: 			translateZ( -325px ) rotateX(  -90deg );
}
#game-rec-prism.show-bottom { 
	-webkit-transform: 	translateZ( -325px ) rotateX(   90deg );
	-moz-transform: 	translateZ( -325px ) rotateX(   90deg );
	-o-transform: 		translateZ( -325px ) rotateX(   90deg );
	transform: 			translateZ( -325px ) rotateX(   90deg );
}

#game-board {
	width: 552px;
	margin: 10px auto;
}

.small-board {
	display: inline-block;
	width: 144px;
	height: 144px;
	padding: 4px;
	margin: 10px;
	border: 6px solid rgb(135, 140, 137);
	border-radius: 10px;
	text-align: center;
	line-height: 0;
}

.x-active { border-color: rgb(247, 35, 73); }

.o-active { border-color: rgb(80, 191, 148); }

.minor-no-win { background-color: white; }
.x-minor-win { background-color: rgb(255, 132, 94); }
.o-minor-win { background-color: rgb(185, 242, 145); }
.minor-cat-game { background-color: white; }

.cell-container {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin: 4px;
	/*background-color: white;*/
	/*border: 2px solid black;*/
	position: relative;
	-webkit-perspective: 2000px;
	-webkit-transform: 	perspective( 2000px );
	-moz-transform: 	perspective( 2000px );
	-o-transform: 		perspective( 2000px );
	transform: 			perspective( 2000px );

}

.cell-prism {
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-transform-style: 	preserve-3d;
	-moz-transform-style: 		preserve-3d;
	-o-transform-style: 		preserve-3d;
	transform-style: 			preserve-3d;
	-webkit-transition: 1s;
	-moz-transition: 	1s;
	-o-transition: 		1s;
	transition: 		1s;
}

.cell-prism figure {
	position: absolute;
	width: 38px;
	height: 38px;
	display: block;
	line-height: 38px;
	text-align: center;
	font-size: 30px;
	border: 1px solid black;
	margin: 0px;
}

.blank-cell {
	background-color: rgb(76, 71, 71);
	-webkit-transform: 	rotateY( 0deg ) translateZ( 12px );
	-moz-transform: 	rotateY( 0deg ) translateZ( 12px );
	-o-transform: 		rotateY( 0deg ) translateZ( 12px );
	transform: 			rotateY( 0deg ) translateZ( 12px );
}

.blank-cell-hover:hover { background-color: rgb(246, 220, 133); }

.x-cell {
	background-color: rgb(247, 35, 73);
	-webkit-transform: 	rotateY( 120deg ) translateZ( 12px );
	-moz-transform: 	rotateY( 120deg ) translateZ( 12px );
	-o-transform: 		rotateY( 120deg ) translateZ( 12px );
	transform: 			rotateY( 120deg ) translateZ( 12px );
}

.o-cell {
	background-color: rgb(80, 191, 148);
	-webkit-transform: 	rotateY( -120deg ) translateZ( 12px );
	-moz-transform: 	rotateY( -120deg ) translateZ( 12px );
	-o-transform: 		rotateY( -120deg ) translateZ( 12px );
	transform: 			rotateY( -120deg ) translateZ( 12px );
}

.unselected { 
	-webkit-transform: 	rotateY( 0deg );
	-moz-transform: 	rotateY( 0deg );
	-o-transform: 		rotateY( 0deg );
	transform: 			rotateY( 0deg );
}
.x-selected { 
	-webkit-transform: 	rotateY( -120deg );
	-moz-transform: 	rotateY( -120deg );
	-o-transform: 		rotateY( -120deg );
	transform:			rotateY( -120deg );
}
.o-selected { 
	-webkit-transform: 	rotateY( 120deg );
	-moz-transform: 	rotateY( 120deg );
	-o-transform:		rotateY( 120deg );
	transform: 			rotateY( 120deg );
}

#players-section{
	margin: 0px 10px;
}
.player {
	display: inline-block;
	text-align: center;
}
.name {
	font-size: 20px;
	margin-bottom: 5px;
}
#player-2{ float: right; }
.score { font-size: 12px; }

.current-player-1 { border-bottom: 3px solid rgb(247, 35, 73); }
.current-player-2 { border-bottom: 3px solid rgb(80, 191, 148); }

#new-game{
	text-align: center;
}

#new-game button {
	font-size: 15px;
}

#winning-message {
	margin-bottom: 5px;
}


#chat-container {
	width: 210px;
	height: 655px;
	position: relative;
	-webkit-perspective: 	1000px;
	-moz-perspective: 		1000px;
	-o-perspective: 		1000px;
	perspective: 			1000px;
	display: inline-block;
	margin-left: 50px;
}

#chat-rec-prism {
	width: 100%;
	height: 100%;
  	position: absolute;
  	-webkit-transition: 3s;
  	-moz-transition: 	3s;
  	-o-transition: 		3s;
  	transition: 		3s;
  	-webkit-transform-style: 	preserve-3d;
  	-moz-transform-style: 		preserve-3d;
  	-o-transform-style: 		preserve-3d;
  	transform-style: 			preserve-3d;
}

#chat-rec-prism>figure {
  background-color: rgb(135, 140, 137);	
  display: block;
  position: absolute;
  border: 1px solid black;
  margin: 0px;
}


#chat-rec-prism .front,
#chat-rec-prism .back {
  width: 200px;
  height: 650px;
}

#chat-rec-prism .right,
#chat-rec-prism .left {
  width: 200px;
  height: 650px;
  left: 0px;
}

#chat-rec-prism .top,
#chat-rec-prism .bottom {
  width: 200px;
  height: 200px;
  top: 225px;
}

#chat-rec-prism .front  { 
	-webkit-transform: 	rotateY(   0deg ) translateZ(  100px );
	-moz-transform: 	rotateY(   0deg ) translateZ(  100px );
	-o-transform: 		rotateY(   0deg ) translateZ(  100px );
	transform: 			rotateY(   0deg ) translateZ(  100px );
}
#chat-rec-prism .back   { 
	-webkit-transform: 	rotateX( 180deg ) rotateZ(180deg) translateZ(  100px );
	-moz-transform: 	rotateX( 180deg ) rotateZ(180deg) translateZ(  100px );
	-o-transform: 		rotateX( 180deg ) rotateZ(180deg) translateZ(  100px );
	transform: 			rotateX( 180deg ) rotateZ(180deg) translateZ(  100px );
}
#chat-rec-prism .right  { 
	-webkit-transform: 	rotateY(  90deg ) translateZ( 100px );
	-moz-transform: 	rotateY(  90deg ) translateZ( 100px );
	-o-transform: 		rotateY(  90deg ) translateZ( 100px );
	transform: 			rotateY(  90deg ) translateZ( 100px );
}
#chat-rec-prism .left   { 
	-webkit-transform: 	rotateY( -90deg ) translateZ( 100px );
	-moz-transform: 	rotateY( -90deg ) translateZ( 100px );
	-o-transform: 		rotateY( -90deg ) translateZ( 100px );
	transform: 			rotateY( -90deg ) translateZ( 100px );
}
#chat-rec-prism .top    { 
	-webkit-transform: 	rotateX(  90deg ) translateZ( 325px );
	-moz-transform: 	rotateX(  90deg ) translateZ( 325px );
	-o-transform: 		rotateX(  90deg ) translateZ( 325px );
	transform: 			rotateX(  90deg ) translateZ( 325px );
}
#chat-rec-prism .bottom { 
	-webkit-transform: 	rotateX( -90deg ) translateZ( 325px );
	-moz-transform: 	rotateX( -90deg ) translateZ( 325px );
	-o-transform: 		rotateX( -90deg ) translateZ( 325px );
	transform: 			rotateX( -90deg ) translateZ( 325px );
}

#chat-rec-prism.show-front  { 
	-webkit-transform: 	translateZ(  -100px ) rotateY(    0deg );
	-moz-transform: 	translateZ(  -100px ) rotateY(    0deg );
	-o-transform: 		translateZ(  -100px ) rotateY(    0deg );
	transform: 			translateZ(  -100px ) rotateY(    0deg );

}
#chat-rec-prism.show-back   { 
	-webkit-transform: 	translateZ(  -100px ) rotateX( -180deg ) rotateZ(180deg);
	-moz-transform: 	translateZ(  -100px ) rotateX( -180deg ) rotateZ(180deg);
	-o-transform: 		translateZ(  -100px ) rotateX( -180deg ) rotateZ(180deg);
	transform: 			translateZ(  -100px ) rotateX( -180deg ) rotateZ(180deg);
}
#chat-rec-prism.show-right  { 
	-webkit-transform: 	translateZ( -100px ) rotateY(  -90deg );
	-moz-transform: 	translateZ( -100px ) rotateY(  -90deg );
	-o-transform: 		translateZ( -100px ) rotateY(  -90deg );
	transform: 			translateZ( -100px ) rotateY(  -90deg );
}
#chat-rec-prism.show-left   { 
	-webkit-transform: 	translateZ( -100px ) rotateY(   90deg );
	-moz-transform: 	translateZ( -100px ) rotateY(   90deg );
	-o-transform: 		translateZ( -100px ) rotateY(   90deg );
	transform: 			translateZ( -100px ) rotateY(   90deg );
}
#chat-rec-prism.show-top    { 
	-webkit-transform: 	translateZ( -325px ) rotateX(  -90deg );
	-moz-transform: 	translateZ( -325px ) rotateX(  -90deg );
	-o-transform: 		translateZ( -325px ) rotateX(  -90deg );
	transform: 			translateZ( -325px ) rotateX(  -90deg );
}
#chat-rec-prism.show-bottom { 
	-webkit-transform: 	translateZ( -325px ) rotateX(   90deg );
	-moz-transform: 	translateZ( -325px ) rotateX(   90deg );
	-o-transform: 		translateZ( -325px ) rotateX(   90deg );
	transform: 			translateZ( -325px ) rotateX(   90deg );
}

.chat-box {
	width: 180px;
	height: 640px;
	margin: 10px;

}
.chat-display {
	height: 550px;
	background-color: white;
	color: black;
	border: 1px solid black;
	border-radius: 5px;
	margin-top: 10px;
	overflow-y: scroll;
}
.chat-display .chat-name {
	color: rgb(191, 171, 18);
}
.player-1-chat-name {
	color: rgb(247, 35, 73);
}
.player-2-chat-name {
	color: rgb(80, 191, 148);

}

.chat-box > button {
	float: right;
}
.chat-message {
	margin: 1px;
}

.chat-input {
	margin-top: 20px;
}
.chat-input .chat-input-box {
	width: 180px;
	border: 0px;
	border-radius: 5px;
}
.chat-input .send-button {
	float: right;
}
