body {
	width: 600px;
	margin: 0px auto;
	font-family: sans-serif;
	background-color: linen;
}

.small-board {
	display: inline-block;
	width: 144px;
	height: 144px;
	padding: 4px;
	margin: 10px;
	border: 6px solid white;
	border-radius: 10px;
	text-align: center;
	line-height: 0;
}

.x-active {
	border-color: #FFC585;
}

.o-active {
	border-color: #5599B2;
}

.minor-no-win {
	background-color: linen;
}

.x-minor-win {
	background-color: #FFD8AD;
}

.o-minor-win {
	background-color: #68BAD9;
}

.minor-cat-game {
	background-color: orange;
}

.cell-container {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin: 4px;
	/*background-color: white;*/
	/*border: 2px solid black;*/
	position: relative;
	transform: perspective( 2000px );

}

.cell-prism {
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	transition: 1s;
	-webkit-transform: translateZ( -14px );
}

.cell-prism figure {
	position: absolute;
	width: 38px;
	height: 38px;
	display: block;
	line-height: 38px;
	text-align: center;
	font-size: 30px;
	border: 1px solid black;
	margin: 0px;
}

.blank-cell {
	background-color: #BECCD1;
	-webkit-transform: rotateY( 0deg ) translateZ( 12px );
}

.x-cell {
	background-color: #FFC585;
	-webkit-transform: rotateY( 120deg ) translateZ( 12px );
}

.o-cell {
	background-color: #5599B2;
	-webkit-transform: rotateY( -120deg ) translateZ( 12px );
}

.unselected {
	-webkit-transform: rotateY( 0deg );
}
.x-selected {
	-webkit-transform: rotateY( -120deg );
}
.o-selected {
	-webkit-transform: rotateY( 120deg );
}

