<!DOCTYPE html>

<html ng-app="ticTacToeApp">
	<head>
		<meta charset="utf-8">

		<title>Tic Tac Toe</title>

		<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<![endif]-->

		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
		
		<script src="js/angular.js"></script>
		<script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
		<script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>
		<script src="js/app.js"></script>
		<script src="js/MinorBoard.js"></script>
		<script src="js/GameBoard.js"></script>
		<script src="js/TicTacToeController.js"></script>
	</head>

	<body ng-controller="TicTacToeController as game">
	{{game.gameName}}
	<!-- <h1>{{game.activeBoard.getGameMessage()}}</h1> -->
		<section id="active-board">

			<div class="game-board">
			Game State: {{game.gameBoard.gameState.gameStatus}}
			<br>
				<div class="small-board" 
					 ng-repeat="smallBoard in game.gameBoard.gameState.minorBoards track by $index"
					 ng-class="{'active-board': smallBoard.active}">
					{{smallBoard.status}}
					<br>
					<div class="cell-container"
						ng-repeat="cell in smallBoard.cells track by $index"
						ng-click="game.gameBoard.makeMove($parent.$index, $index)">
						<div class="cell-prism"
							 ng-class="game.gameBoard.getCellState($parent.$index, $index)">
							<figure class="blank-cell"></figure>
							<figure class="x-cell">X</figure>
							<figure class="o-cell">O</figure>
						</div>
					</div>
				</div>
			</div>
		</section>
		Player: {{game.gameBoard.localPlayer}}
	</body>
</html>
