<!DOCTYPE html>

<html ng-app="ticTacToeApp">
	<head>
		<meta charset="utf-8">

		<title>3T: Tic Tac Toe</title>

		<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<![endif]-->

		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/style.css">
		
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
		<script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
		<script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>
		<script src="js/app.js"></script>
		<script src="js/MinorBoard.js"></script>
		<script src="js/GameBoard.js"></script>
		<script src="js/TicTacToeController.js"></script>
	</head>

	<body ng-controller="TicTacToeController as game">
		<div id="main-container">
			<div id="game-rec-prism" ng-class="game.gameBoard.getDisplayState()">
				<figure class="front"></figure>
				<figure class="left"></figure>
				<figure class="right"></figure>
				<figure class="top">
					<div id="name-input">
						<form ng-submit="game.gameBoard.playerNameSubmitted()" 
							  ng-hide = "game.gameBoard.waiting">
							<input type="text" ng-model="game.gameBoard.playerName" 
								   placeholder="Please enter your name"
								   maxlength="10" autofocus/>
							<input type="submit" value="Submit"/>
						</form>
					</div>
					<div id="waiting-message"ng-show="game.gameBoard.waiting">
						<p>Hello {{game.gameBoard.playerName}}.</p>
						<p>Waiting for another player...</p>
					</div>
				</figure>
				<figure class="bottom"></figure>
				<figure class="back">
					<section id="game-board">
						<section id="players-section">
							<div class="player">
								<div class="name">
									<span ng-show="game.gameBoard.localPlayer==0">&middot</span>
									<span id="player-1-name"
										  ng-class="{'current-player-1': game.gameBoard.gameState.currentPlayer == 0}">
										  {{game.gameBoard.gameState.playerNames[0]}} (X)
									</span>
								</div>
								<div class="score">Score: {{game.gameBoard.gameState.scores[0]}}</div>
							</div>
							<div class="player" id="player-2">
								<div class="name">
									<span ng-show="game.gameBoard.localPlayer==1">&middot</span>
									<span id="player-2-name"
										  ng-class="{'current-player-2': game.gameBoard.gameState.currentPlayer == 1}">
										  {{game.gameBoard.gameState.playerNames[1]}} (O)
									</span>
								</div>
								<div class="score">Score: {{game.gameBoard.gameState.scores[1]}}</div>
							</div>
						</section>
						<div class="small-board" 
							 ng-repeat="smallBoard in game.gameBoard.gameState.minorBoards track by $index"
							 ng-class="game.gameBoard.getMinorBoardStyle($index)">

							<div class="cell-container"
								ng-repeat="cell in smallBoard.cells track by $index"
								ng-click="game.gameBoard.makeMove($parent.$index, $index)">
								<div class="cell-prism"
									 ng-class="game.gameBoard.getCellState($parent.$index, $index)">
									<figure class="blank-cell" 
											ng-class="{'blank-cell-hover': game.gameBoard.gameState.currentPlayer == game.gameBoard.localPlayer}"></figure>
									<figure class="x-cell">X</figure>
									<figure class="o-cell">O</figure>
								</div>
							</div>
						</div>
						<div id="new-game" ng-hide="game.gameBoard.gameState.gameStatus == 0">
							<div id="winning-message">{{game.gameBoard.winningMessage()}}</div>
							<button ng-click="game.gameBoard.resetGame()">New Game</button>
						</div>
					</section>
					
				</figure>
			</div>
		</div>

		<div id="chat-container">
			<div id="chat-rec-prism" ng-class="game.gameBoard.getChatDisplayState()">				
				<figure class="left"></figure>
				<figure class="right"></figure>
				<figure class="bottom"></figure>
				<figure class="top">
					<img src="images/logo.png">
				</figure>
				<figure class="front">
					<!-- global chat -->
					<section id="global-chat" class="chat-box">
						<span>Global Chat</span>
						<button ng-click="game.gameBoard.switchToGameChat()">Game ></button>
						<div class="chat-display" id="global-chat-display">
							<p ng-repeat="message in game.gameBoard.globalChat" class="chat-message">
								<span class="chat-name">{{message.name}}: </span>
								{{message.message}}
							</p>
							
						</div>
						<div class="chat-input">
							<form ng-submit="game.gameBoard.sendGlobalChatMessage()" >
								<input type="text" ng-model="game.gameBoard.globalChatMessage" 
									   placeholder="message"
									   class="chat-input-box"/>
								<!-- <input type="submit" value="Send" class="send-button"></input> -->
							</form>
						</div>
					</section>
				</figure>
				<figure class="back">
					<!-- game chat -->
					<section id="game-chat" class="chat-box">
						<span>Game Chat</span>
						<button ng-click="game.gameBoard.switchToGlobalChat()">Global ></button>
						<div class="chat-display" id="game-chat-display">
							<p ng-repeat="message in game.gameBoard.gameChat" class="chat-message">
								<span ng-class="game.gameBoard.getChatNameStyle(message.name)">{{message.name}}: </span>
								{{message.message}}
							</p>
							
						</div>
						<div class="chat-input">
							<form ng-submit="game.gameBoard.sendGameChatMessage()" >
								<input type="text" ng-model="game.gameBoard.gameChatMessage" 
									   placeholder="message"
									   class="chat-input-box"/>
								<!-- <input type="submit" value="Send" class="send-button"></input> -->
							</form>
						</div>
					</section>
				</figure>
			</div>
		</div>
	</body>
</html>
