<!DOCTYPE html>

<html ng-app="ticTacToeApp">
	<head>
		<meta charset="utf-8">

		<title>Tic Tac Toe</title>

		<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<![endif]-->

		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/style.css">
		
		<script src="js/angular.js"></script>
		<script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
		<script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>
		<script src="js/app.js"></script>
		<script src="js/MinorBoard.js"></script>
		<script src="js/GameBoard.js"></script>
		<script src="js/TicTacToeController.js"></script>
	</head>

	<body ng-controller="TicTacToeController as game">
		<div class="main-container">
			<div id="game-rec-prism" ng-class="game.gameBoard.getDisplayState()">
				<figure class="front"></figure>
				<figure class="left"></figure>
				<figure class="right"></figure>
				<figure class="top">
					<div id="name-input">
						<form ng-submit="game.gameBoard.playerNameSubmitted()" 
							  ng-hide = "game.gameBoard.waiting">
							<input type="text" ng-model="game.gameBoard.playerName" 
								   placeholder="Please enter your name"
								   maxlength="9" autofocus></input>
							<input type="submit" value="Submit"></input>
						</form>
					</div>
					<div id="waiting-message"ng-show="game.gameBoard.waiting">
						<p>Hello {{game.gameBoard.playerName}}.</p>
						<p>Waiting for another player...</p>
					</div>
				</figure>
				<figure class="bottom"></figure>
				<figure class="back">
					<section id="game-board">
							<div class="small-board" 
								 ng-repeat="smallBoard in game.gameBoard.gameState.minorBoards track by $index"
								 ng-class="game.gameBoard.getMinorBoardStyle($index)">

								<div class="cell-container"
									ng-repeat="cell in smallBoard.cells track by $index"
									ng-click="game.gameBoard.makeMove($parent.$index, $index)">
									<div class="cell-prism"
										 ng-class="game.gameBoard.getCellState($parent.$index, $index)">
										<figure class="blank-cell" 
												ng-class="{'blank-cell-hover': game.gameBoard.gameState.currentPlayer == game.gameBoard.localPlayer}"></figure>
										<figure class="x-cell">X</figure>
										<figure class="o-cell">O</figure>
									</div>
								</div>
							</div>
							<div id="player-names">
							<span id="player-1-name" 
								  class="player-name"
								  ng-class="{'current-player-1': game.gameBoard.gameState.currentPlayer == 0}">
								  <span ng-show="game.gameBoard.localPlayer==0">&middot</span>
								  {{game.gameBoard.gameState.playerNames[0]}} (X)</span>
							<span id="player-2-name" 
								  class="player-name"
								  ng-class="{'current-player-2': game.gameBoard.gameState.currentPlayer == 1}">
								  <span ng-show="game.gameBoard.localPlayer==1">&middot</span>
								  {{game.gameBoard.gameState.playerNames[1]}} (O)</span>
						</div>
					</section>
				</figure>
			</div>
		</div>
	</body>
</html>
